*.log
app/.htaccess
app/sitemap.xml
app/sitemap.xml.gz
app/wp-config.php
app/assets/advanced-cache.php
app/assets/backup-db/
app/assets/backups/
app/assets/blogs.dir/
app/assets/cache/
app/assets/upgrade/
app/assets/uploads/
app/assets/wp-cache-config.php
app/assets/plugins/hello.php
app/assets/themes/altimea-dev
app/assets/wflogs/

app/assets/themes-developing/altimea/bower_components/*

app/readme.html
app/license.txt
app/licencia.txt

.idea
.DS_Store
/nbproject/*
app/assets/object-cache.php
app/assets/w3tc-config/
node_modules

